node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.next/
out/
coverage/
.env
.env.*
!.env.example
**/apps/web/data
apps/web/public/uploads/*
!apps/web/public/uploads/.gitkeep
!apps/web/public/uploads/models/.gitkeep

# SQLite
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal
